.side-bar{
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

.logout-btn{
    margin-top: 15px;
}

.top-5{
    width: 80%;
    margin: 30px auto;
    border-bottom: 1px solid rgb(197 213 203);
}

.top-users{
    height: 85%;
}

.score-history{
    margin: 10px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(197 213 203);
    width: 90%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-history div{
    font-family: 'Gentium Book Plus', serif;
}

.player-position{
    font-weight: 600;
    font-size: 1.2rem;
    color: #a749ff;
}