.side-bar{
    width: 150px;
    height: 100vh;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.logout-btn{
    margin: 15px 0;
}

.logout-btn a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.logout-btn a:hover{
    color: white;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.score-history{
    margin: 20px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    width: 90%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-position{
    color:red;
    font-weight: 600;
}