.welcome-page {
    width: 100vw;
    height: 100vh;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form {
    width: 600px;
    min-height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-container{
    height: 100px;
    display: flex;
    padding: 0 5px;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-container label{
    font-weight: 600;
    font-size: 1.2rem;
}

.start-game-btn{
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.start-game-btn:hover{
    color:white;
    background-color: #61dafb;
}
