.bulbs-container {
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}